<div class="container">
    <h1>Listado de Clientes Frecuentes</h1>
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Edad</th>
          <th>Correo</th>
          <th>Número de Teléfono</th>
        </tr>
      </thead>
      <tbody>
        @for(frecuente of frecuentes; track frecuente.id) {
          <tr>
              <td>{{ frecuente.nombre }}</td>
              <td>{{ frecuente.edad }}</td>
              <td>{{ frecuente.correo }}</td>
              <td>{{ frecuente.numeroTelefono }}</td>
          </tr>
      }
      </tbody>
    </table>
    <div class="buttons">
      <button (click)="createCampaign('whatsapp')">Crear Campaña WhatsApp</button>
      <button (click)="createCampaign('email')">Crear Campaña Correo</button>
    </div>
  </div>